body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
}

header {
    background-color: rgb(255, 65, 65);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2 {
    font-family: 'Audiowide', cursive;
}

header h1 {
    color: white;
    font-size: 50px;
}

header img {
    border-radius: 170px;
    width: 300px;
    border: 20px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px
}

main img {
    max-width: 100%;
}

h2 {
    font-size: 30px;
    color: rgb(201, 38, 38);
    margin: 40px 0 10px;
}

a {
    color: rgb(201, 38, 38);
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: rgb(141, 38, 201);
}

footer {
    color: white;
    background-color: rgb(255, 65, 65);
    text-align: center;
    padding: 50px;
}

footer p {
    margin: 0;
}

footer a {
    color: white;
}

footer a:hover {
    opacity: .5;
    background-color: transparent;
}

p.caption {
    color: rgb(139, 139, 139);
    font-style: italic;
    margin-top: 0;
}

@media only screen and (max-width: 400px) {
    header img {
        border-radius: 85px;
        width: 150px;
        border: 10px solid rgb(255, 255, 255)
    }
}